*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/2560x1600.png) ;
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}   

#terminal{
    width: 80%;
    height: 60%;
    background-color: black;
    color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.6;
}

#topBar{
    opacity: 1;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
}

.textContainer{
    width: 100%;
    height: 90%;
}

#input{
    background-color: transparent;
    color: greenyellow;
    border: none;
    outline: none;
}